{% extends 'layouts/base.html' %} {% block content %}
    <h1>Creacion de Projects con Formsets</h1>
    <div class="card">
        <div>
            <form id="form-container" method="POST">{% csrf_token %}
            <input type="submit" value="Save">
                {{ form.management_form }}
                {% for fo in form %}
                    <div class="card" style="padding: 20px">
                        <div class="bird-form">
                            {{ fo }}
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <button id="add-form" type="button">Add Another Bird</button>
            </form>
        </div>
    </div>
    <script>
        let birdForm = document.querySelectorAll(".bird-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, addButton)

            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}