{% extends 'layouts/base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'beekeeper' %}">
            <button type="button" class="btn" style="margin-right: 6px">
            <i class=" fa fa-solid fa-arrow-left" style="margin-right: 6px"></i>Volver</button>
        </a>
        <h1>Registrar Apicultor</h1>
    </div>
</div>
    <div class="btn-toolbar mb-2 mb-md-0"></div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Guardar</button>
    </form>
{% endblock %}